



$theme-colors: ( 
    "primary": #2c3e50,
    "secondary": #1d6042,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #343a40, 
    "amarillo": #F2B749, 
    "azul": #1B62BF
 );
$color-amarillo:#F2CB05;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Quicksand:wght@300..700&display=swap');


:root{
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #F2B749;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;


    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);



    --clr-primary-hsl-400: 140, 90%, 36%;
    --clr-primary-hsl-500: 143, 80%, 27%;
    --clr-secondary-hsl-400: 143, 80%, 27%;
    --clr-secondary-hsl-500: 241, 72%, 46%;


    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-300: 143, 80%, 27%;

    --clr-primary-400: hsl(var(--clr-primary-hsl-400));
    --clr-primary-500: hsla(var(--clr-primary-hsl-500));
    --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));

    --gradient-primary: linear-gradient(
      var(--clr-primary-400), 
      var(--clr-secondary-400));
    
    --fs-700: 1.75rem;
    --fw-bold: 700;

}


html, body {
    width: 100vw;
    //height: auto;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    //overflow-y: hidden;
  }

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}
.pointer {
    cursor: pointer;
}

.nav-tag {
    width: 100vw;
    flex-wrap: wrap;
}

/* Así quedaría con Mixins */
@mixin neo( $estado ,$br , $dis1 ){
	color			: var(--negro);
	transition		: all .4s ease;
	border-radius 	: $br ;
	
	@if $estado == 1 {
		background-color	: var(--blanco);
		box-shadow			: 
			$dis1    $dis1    $dis1*2 var(--sombra-ppal),
			$dis1*-1 $dis1*-1 $dis1*2 var(--sombra-sec),
			inset 0 0 0 transparent,
			inset 0 0 0 transparent;
	}@else if $estado == 2 {
		background-color	: var(--blanco);
		box-shadow			: 
			0 0 0 transparent,
			0 0 0 transparent,
			inset $dis1    $dis1    $dis1*2 var(--sombra-ppal),
			inset $dis1*-1 $dis1*-1 $dis1*2 var(--sombra-sec);
	}
    
}